@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: #f1f1f1;
}

header{
	background-color: #56b9a2;
    color: #FFF;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow: #969696 2px 3px 7px 1px;
}

header h2{
	font-size: 3.5em;
	display:inline-block;
	vertical-align:	middle;
}

.container{
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

.historic-title{
	display: flex
}
.historic-row{
	display: flex;
	justify-content: center;
}

.historic-row .historic-col{
	width: 40%;
}

.historic-row .historic-col.title{
	font-size: 1.5em;
	margin-bottom: 1em;
}

.historic-row .historic-col.data{
	border-bottom: solid 1px #b3b2b2;
	padding: .5em 0em;
}

.historic-row .historic-col.data.negative{
	color: red;
}

.historic-row .historic-col.right{
	text-align: right;
}
